@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Libre+Franklin:wght@100&family=Source+Code+Pro:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');


::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--main-bg-color);
}

::selection {
  color: white;
  background: var(--main-bg-color);
}


/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "FrontLinesCrooked";
  src: url("/fonts/FrontLinesCrooked.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FrontLinesDenseLow";
  src: url("/fonts/FrontLinesDenseLow.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FrontLinesGroovy";
  src: url("/fonts/FrontLinesGroovy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FrontLinesWideSlight";
  src: url("/fonts/FrontLinesWideSlight.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FrontLinesWobblyWild";
  src: url("/fonts/FrontLinesWobblyWild.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.scrim-t {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}