---
import FrontPage from "../components/FrontPage.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
export function getStaticPaths() {
  return [
    {params: {cat: 'ukraine'}, props: {tags: ["Syrian civil war", "Syria", "the Battle of Aleppo and the Syrian Civil War", "Military operations of the Syrian civil war in 2016"]}},
    {params: {cat: 'africa'}},
  ]
}


const { tags } = Astro.props;
---

<DefaultLayout>
    <div>
        <FrontPage tags={tags} />
    </div>
</DefaultLayout>