<style>
  /* Register your custom font family and tell the browser where to find it. */
  @font-face {
    font-family: "FrontLinesCrooked";
    src: url("/fonts/FrontLinesCrooked.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "FrontLinesDenseLow";
    src: url("/fonts/FrontLinesDenseLow.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "FrontLinesGroovy";
    src: url("/fonts/FrontLinesGroovy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "FrontLinesWideSlight";
    src: url("/fonts/FrontLinesWideSlight.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "FrontLinesWobblyWild";
    src: url("/fonts/FrontLinesWobblyWild.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

</style>

<html>
  <body>
    <div class="max-w-md mx-auto mt-10">
        <div style="font-family: 'FrontLinesCrooked', monospace; ">
            <div class="font-serif" style="">FrontLinesCrooked</div>
            <h3 class="text-7xl" style="color:#000000;    
            text-shadow: 4px 0 #000000;
            letter-spacing:-px;
            font-weight:bold;">FRONTLINES</h3>
            
        </div>
        <br />
        <hr />
        <div style="font-family: 'FrontLinesDenseLow', monospace;">
            <div class="font-serif">FrontLinesDenseLow</div>
            <h3 class="text-7xl">FRONTLINES</h3>
            
        </div>
        <br />
        <hr />
        <div style="font-family: 'FrontLinesGroovy', monospace;">
            <div class="font-serif">FrontLinesGroovy</div>
            <h3 class="text-7xl">FRONTLINES</h3>
            
        </div>
        <br />
        <hr />
        <div style="font-family: 'FrontLinesWideSlight', monospace;">
            <div class="font-serif">FrontLinesWideSlight</div>
            <h3 class="text-7xl">FRONTLINES</h3>
            
        </div>
        <br />
        <hr />
        <div style="font-family: 'FrontLinesWobblyWild', monospace;">
            <div class="font-serif">FrontLinesWobblyWild</div>
            <h3 class="text-7xl">FRONTLINES</h3>
            
        </div>

    </div>
  </body>
</html>
