---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IconButton from "../components/IconButton.astro";
import { Icon } from "astro-icon";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

  .scrim-t {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    );
  }
</style>

<html lang="en" data-theme="volkskrant">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="sm:container sm:mx-auto">
    <div class="mx-auto mt-5 max-w-7xl">
      <!-- Top header bit -->
      <div class="mt-8 flex place-content-between place-items-baseline mb-3">
        <div class="mt-auto">
          <Logo />
        </div>

        <div class="justify-self-end h-full content-baseline flex gap-2">
          <div class="h-full content-baseline flex gap-2 mt-auto">
            <button class="btn btn-sm btn-outline rounded-full normal-case"
              >Login</button
            >
            <button
              class="btn btn-sm btn-primary rounded-full text-white normal-case"
              >Subscribe</button
            >
          </div>
          <div class="h-full gap-5 ml-3 text-sm md:flex hidden">
            <IconButton icon="ic:baseline-search">Search</IconButton>
            <IconButton icon="mdi:newspaper-variant-outline">Edition</IconButton>
            <IconButton icon="ic:outline-person">Settings</IconButton>
          </div>
        </div>
      </div>
      <!-- End top header bit -->

      <!-- Start with tabs -->
      <div class="tabs border-y-2 overflow-x-auto whitespace-nowrap flex-nowrap">
        <label class="tab tab-bordered border-b-0 "
          ><div>
            <Icon class="h-4 w-4" name="ic:baseline-format-list-bulleted" />
          </div></label
        >
        <a class="tab tab-bordered tab-active">Frontpage</a>
        <a class="tab tab-bordered border-b-0">Columns</a>
        <a class="tab tab-bordered border-b-0">Ukraine</a>
        <a class="tab tab-bordered border-b-0">Africa</a>
        <a class="tab tab-bordered border-b-0">History</a>
        <a class="tab tab-bordered border-b-0">Opinions</a>
        <a class="tab tab-bordered border-b-0">Combat footage</a>
        <a class="tab tab-bordered border-b-0">Live maps</a>
        <a class="tab tab-bordered border-b-0">Asia</a>
        <a class="tab tab-bordered border-b-0">News</a>
        <a class="tab tab-bordered border-b-0">Opinions</a>
        <a class="tab tab-bordered border-b-0">Sudan</a>
      </div>
      <!-- End with tabs -->
      <div
        class="grid md:grid-cols-3 xl:grid-cols-4 relative mt-3 divide-x-2 divide-y divide-y-reverse"
      >
        <div class="row-span-2 col-span-2 p-3">
          <div class="relative">
            <div class="absolute h-full scrim-t w-full text-white">
              <h3 class="text-sm max-w-sm mx-auto mt-9 font-bold text-center" style="font-family: 'FrontLines'">
                NEWS
              </h3>
              <h3
                class="text-5xl font-serif font-bold max-w-sm mx-auto mt-3 text-center"
              >
                Soedan zakt weg in de chaos van een burgeroorlog
              </h3>
            </div>
            <img
              class="w-full h-full"
              src="https://images0.persgroep.net/rcs/KLFxya-puA9QQMaQH51v-xIC5bo/diocontent/229886105/_crop/651/0/2556/2556/_fill/280/280?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
            />
          </div>
        </div>
        <div class="p-3">
          <img
            src="https://images0.persgroep.net/rcs/Bugz3V19Pxf81zVJDmyLts6hgwI/diocontent/229957515/_crop/0/87/4044/2022/_fill/560/280?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
          />
          <h3 class="text-sm mx-auto mt-1 font-black" style="font-family: 'FrontLines'">ANALYSE</h3>
          <h3 class="text-lg font-serif">
            Dilemma Rusland in conflict Soedan: Welke partij moet Moskou steunen
          </h3>
        </div>
        <div class="row-span-3 p-3 h-full">
          <div class="my-auto mx-auto mt-32">
            <div
              class="border-t-[8px] border-primary flex place-content-between content-baseline"
            >
              <div class="font-black mt-2 text-sm" style="font-family: 'FrontLines'" >NEWS</div>
              <div class="mt-2 text-xs">MORE &gt;</div>
            </div>
            <div class="flex gap-3">
              <img
                src="https://images0.persgroep.net/rcs/eVlTx8cpKVDV-xlANn7IGyd2QCs/diocontent/229490591/_focus/0.5/0.5/_fill/70/70?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
                width="65"
                height="65"
                style="min-width: 65px; height: 100%;"
              />
              <div>
                <div class="font-light text-xs">20:13 </div>
                <div>
                  Live: Defensie koopt nieuwe munitie ter waarde van 1,5 miljard
                </div>
              </div>
            </div>
            <hr class="mt-3 mb-3" />
            <div class="flex gap-3">
              <img
                src="https://images0.persgroep.net/rcs/4LJcJB59BW9wrAeFRtEqUNNZ2u8/diocontent/229941276/_focus/0.5/0.5/_fill/70/70?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
                width="65"
                height="65"
                style="min-width: 65px; height: 100%;"
              />
              <div>
                <div class="font-light text-xs">19:50 </div>
                <div>
                  Grootste Tunesische oppositiepartij onder v: partijleider
                  opgepakt en kantoren gesloten
                </div>
              </div>
            </div>
            <hr class="mt-3 mb-3" />
            <div class="flex gap-3">
              <img
                src="https://images0.persgroep.net/rcs/V7pgJxMz-bTrAm4110Rcsjr4WZQ/diocontent/229932884/_focus/0.5/0.5/_fill/70/70?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
                width="65"
                height="65"
                style="min-width: 65px; height: 100%;"
              />
              <div>
                <div class="font-light text-xs">19:16 </div>
                <div>
                  Vwapengeweld in Missouri en New York onderstreept hoe
                  verdeeld Amerika is over het recht op zelfverdediging
                </div>
              </div>
            </div>
            <hr class="mt-3 mb-3" />
            <div class="flex gap-3">
              <img
                src="https://images0.persgroep.net/rcs/V7pgJxMz-bTrAm4110Rcsjr4WZQ/diocontent/229932884/_focus/0.5/0.5/_fill/70/70?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
                width="65"
                height="65"
                style="min-width: 65px; height: 100%;"
              />
              <div>
                <div class="font-light text-xs">19:16 </div>
                <div>
                  Vwapengeweld in Missouri en New York onderstreept hoe
                  verdeeld Amerika is over het recht op zelfverdediging
                </div>
              </div>
            </div>
            <hr class="mt-3 mb-3" />
            <div class="flex gap-3">
              <img
                src="https://images0.persgroep.net/rcs/V7pgJxMz-bTrAm4110Rcsjr4WZQ/diocontent/229932884/_focus/0.5/0.5/_fill/70/70?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
                width="65"
                height="65"
                style="min-width: 65px; height: 100%;"
              />
              <div>
                <div class="font-light text-xs">19:16 </div>
                <div>
                  Vwapengeweld in Missouri en New York onderstreept hoe
                  verdeeld Amerika is over het recht op zelfverdediging
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div>
            <img
              src="https://images0.persgroep.net/rcs/P_Nmjymv5nZ4OBrGKJW-iIAKqZs/diocontent/229952940/_focus/0.5/0.5/_fill/560/280?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.85"
            />
            <h3 class="text-sm mx-auto mt-1 font-black" style="font-family: 'FrontLines'">FANCULT</h3>
            <h3 class="text-lg font-serif">
              Beauty en de fan: de online fangemeenschap is een ontembaar beest
              geworden
            </h3>
          </div>
        </div>
        <div class="row-span-1 p-3 col-start-2 h-full">
          <div class="my-auto mx-auto">
            <div
              class="border-t-[8px] border-primary flex place-content-between content-baseline"
            >
              <div class="font-black mt-2 text-sm" style="font-family: 'FrontLines'">BEST READ</div>
              <div class="mt-2 text-xs">MORE &gt;</div>
            </div>
            <div class="flex gap-3">
              <div class="text-6xl text-gray-400">1</div>
              <div>
                <div class="font-light text-xs">20:13 </div>
                <div>
                  Live: Defensie koopt nieuwe munitie ter waarde van 1,5 miljard
                </div>
              </div>
            </div>
            <hr class="mt-3 mb-3" />
            <div class="flex gap-3">
              <div class="text-6xl text-gray-400">2</div>
              <div class="w-5/6 ml-auto">
                <div class="font-light text-xs">19:50 </div>
                <div>
                  Grootste Tunesische oppositiepartij onder v: partijleider
                  opgepakt en kantoren gesloten
                </div>
              </div>
            </div>
            <hr class="mt-3 mb-3" />
            <div class="flex gap-3">
              <div class="text-6xl text-gray-400">3</div>
              <div>
                <div class="font-light text-xs">19:16 </div>
                <div>
                  Vwapengeweld in Missouri en New York onderstreept hoe
                  verdeeld Amerika is over het recht op zelfverdediging
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
