<div class="drawer w-full">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content w-full">
      <!-- Page content here -->
      <div class="sm:container sm:mx-auto">
        <slot />
      </div>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 bg-base-100 text-base-content">
        <!-- Sidebar content here -->
        <li><a href="/">Frontpage</a></li>
        <li><a href="/ukraine">Ukraine</a></li>
        <li><a href="/africa">Africa</a></li>
        <li><a href="/history">History</a></li>
        
        

        <!-- <a {...getProps("/", false)}>Frontpage</a>
        <a {...getProps('/columns', false)}>Columns</a>
        <a {...getProps('/ukraine', false)}>Ukraine</a>
        <a {...getProps('/africa', false)}>Africa</a>
        <a {...getProps('/history', false)}>History</a>
        <a {...getProps('/opinions', false)}>Opinions</a>
        <a {...getProps('/combat-footage', false)}>Combat footage</a>
        <a {...getProps('/live-maps', false)}>Live maps</a>
        <a {...getProps('/asia', false)}>Asia</a>
        <a {...getProps('/news', false)}>News</a>
        <a {...getProps('/opinions', false)}>Opinions</a>
        <a {...getProps('/sudan', false)}>Sudan</a> -->
        <li>

        
        <div class="h-full content-baseline flex gap-2 mt-auto">
          <button class="btn btn-sm btn-outline rounded-full normal-case"      style="font-family: 'FrontLinesGroovy'"
            >GITHUB</button
          >
          <button
            class="btn btn-sm btn-primary rounded-full text-white normal-case"
            style="font-family: 'FrontLinesGroovy'"
            >CONTRIBUTE</button
          >
        </div>
        </li>
      </ul>
    </div>
  </div>