---
import { Icon } from "astro-icon";
import type { HTMLAttributes } from "astro/types";

type Props = { icon: string } & HTMLAttributes<"button">;

const { icon, ...props } = Astro.props;
---

<button class="btn btn-circle" {...props}>
    <div class="flex flex-col items-center justify-center text-xs">
        <div class="relative  text-black-100 font-thin weight h-6 w-6" >
            <Icon name={icon} />
        </div>
        <div>
            <slot />
        </div>
    </div>
</button>
