<style>
    div.child-1 {
      pointer-events: none;
      position: absolute;
      width: 100%;
      top: 0;
      height: calc(100% + 0.5px);
      margin-top: -2px;
      margin-left: 20px;
      margin-right: 20px;
      width: -webkit-calc(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: calc(100% - 40px);
      border-bottom: #eaeaea solid 1px;
      border-top: #eaeaea solid 1px;
    }
  
    div.child-2 {
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: -2px;
      height: -webkit-calc(100% - 40px);
      height: -moz-calc(100% - 40px);
      height: calc(100% - 40px);
      border-left: #eaeaea solid 1px;
      border-right: #eaeaea solid 1px;
    }
  
    div.child-3 {
      padding: 20px;
      z-index: 10;
    }
  
    .container-inset-border {
      position: relative;
      margin: -0.5px;
      height: 100%;
    }
  </style>
  
  <div class="container-inset-border">
    <div class="child-3">
      <slot />
    </div>
    <div class="child-1" />
    <div class="child-2" />
  </div>
  