---
import type { CollectionEntry } from "astro:content";
import Img from "../Img.astro";

type Props = CollectionEntry<"blog">["data"] & { href: string };

const { subject, description, pubDate, updatedDate, img, author, href } =
  Astro.props;
---

<a
  class="row-span-2 md:col-span-2 p-3 hover:underline min-h-[400px]"
  href={href}
  transition:name="head-img">
  <div class="relative h-full">
    <div class="absolute h-full scrim-t w-full text-white">
      <h3
        class="text-md max-w-md mx-auto mt-9 font-bold text-center"
        style="font-family: 'FrontLinesGroovy'"
      >
        REPORT
      </h3>
      <h3
        class="text-5xl font-serif font-bold max-w-sm mx-auto mt-3 text-center"
      >
        {subject}
      </h3>
    </div>
    {
      img && !img.endsWith(".svg") && (
        <div  class="relative -z-10">
        <Img
            attributes={{
              img: {
                class: "w-full h-full object-cover",
              },
            }}
            
            src={img}
            alt="test"
          />
          </div>
        )
      }
  </div>
</a>
