<div class="row-span-1 p-3 col-start-2 h-full">
    <div class="my-auto mx-auto">
      <div
        class="border-t-[8px] border-primary flex place-content-between content-baseline"
      >
        <div
          class="font-black mt-2 text-sm"
          style="font-family: 'FrontLinesGroovy'"
        >
          BEST READ
        </div>
        <div class="mt-2 text-xs">MORE &gt;</div>
      </div>
      <div class="flex gap-3">
        <div class="text-6xl text-gray-400">1</div>
        <div>
          <div class="font-light text-xs">20:13</div>
          <div>
            Live: Defensie koopt nieuwe munitie ter waarde van 1,5 miljard
          </div>
        </div>
      </div>
      <hr class="mt-3 mb-3" />
      <div class="flex gap-3">
        <div class="text-6xl text-gray-400">2</div>
        <div class="w-5/6 ml-auto">
          <div class="font-light text-xs">19:50</div>
          <div>
            Grootste Tunesische oppositiepartij onder v: partijleider opgepakt
            en kantoren gesloten
          </div>
        </div>
      </div>
      <hr class="mt-3 mb-3" />
      <div class="flex gap-3">
        <div class="text-6xl text-gray-400">3</div>
        <div>
          <div class="font-light text-xs">19:16</div>
          <div>
            Vwapengeweld in Missouri en New York onderstreept hoe verdeeld
            Amerika is over het recht op zelfverdediging
          </div>
        </div>
      </div>
    </div>
  </div>