---
import type { CollectionEntry } from 'astro:content';
import dayjs from 'dayjs';

type Props = CollectionEntry<"blog">["data"] & {href: string};

const { subject, description, pubDate, updatedDate, img, author, href } = Astro.props;

const date = dayjs(pubDate);
---

<a href={href} class="flex gap-3 border-b-2 pb-3 mt-3 mb-3">
    {img && <img
      src={img}
      width="65"
      height="65"
      style="min-width: 65px; height: 100%;"
    />}
    <div>
      <div class="font-light text-xs">{date.format('HH-mm')}</div>
      <div>
        {subject}
      </div>
    </div>
</a>
