<div class="row-span-1 p-3 col-start-2 h-full">
    <div class="my-auto mx-auto">
      <div
        class="border-t-[8px] border-primary flex place-content-between content-baseline"
      >
        <div
          class="font-black mt-2 text-sm"
          style="font-family: 'FrontLinesGroovy'"
        >
          BEST READ
        </div>
        <div class="mt-2 text-xs">MORE &gt;</div>
      </div>
     <slot />
    </div>
  </div>