<div class="row-span-3 p-3 h-full">
    <div class="my-auto mx-auto mt-32">
      <div
        class="border-t-[8px] border-primary flex place-content-between content-baseline"
      >
        <div
          class="font-black mt-2 text-sm"
          style="font-family: 'FrontLinesGroovy'"
        >
          NEWS
        </div>
        <div class="mt-2 text-xs">MORE &gt;</div>
      </div>
      <slot />
    </div>
  </div>