---
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<"blog">["data"] & {href: string; type: string};

const { subject, shortDescription, img, type, href } = Astro.props;
---
<a class="p-3" href={href}>
  <img
    class="aspect-video object-cover"
    src={img}
  />
  <h3 class="text-sm mx-auto mt-1 font-black uppercase" style="font-family: 'FrontLinesGroovy'">
    {type}
  </h3>
  <h3 class="text-lg font-serif">
    {shortDescription ?? subject}
  </h3>
</a>
